<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Responsible</th>
            <th>Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todoList$">
            <th><input type="checkbox" [ngModel]="todo.done" (click)="toggleTodo(todo)"/></th>
            <td><span [class.line-through]="todo.done">{{todo.description}}</span></td>
            <td><span [class.line-through]="todo.done">{{todo.responsible}}</span></td>
            <td><span [appPriority]="todo.priority" class="badge">{{todo.priority}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
