<div class="container">
    <form (ngSubmit)="addTodo();todoForm.reset()"
          #todoForm="ngForm">
        <div class="form-group">
            <label for="description">Description</label>
            <input [(ngModel)]="todo.description"
                   #description="ngModel"
                   name="description"
                   id="description"
                   placeholder="Todo description"
                   class="form-control"
                   minlength="5"
                   maxlength="50"
                   required/>
            <div *ngIf="description.errors && (description.dirty || description.touched)"
                 class="alert alert-danger">
                <div [hidden]="!description.errors.required">
                    Description is required!
                </div>
                <div [hidden]="!description.errors.minlength">
                    Description must be at least 5 characters long.
                </div>
                <div [hidden]="!description.errors.maxlength">
                    Description cannot be more than 50 characters long.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="responsible">Responsible</label>
            <input [(ngModel)]="todo.responsible"
                   #responsible="ngModel"
                   name="responsible"
                   id="responsible"
                   placeholder="Responsible"
                   class="form-control"
                   minlength="3"
                   maxlength="30"
                   required/>
            <div *ngIf="responsible.errors && (responsible.dirty || responsible.touched)"
                 class="alert alert-danger">
                <div [hidden]="!responsible.errors.required">
                    Responsible is required!
                </div>
                <div [hidden]="!responsible.errors.minlength">
                    Responsible must be at least 5 characters long.
                </div>
                <div [hidden]="!responsible.errors.maxlength">
                    Responsible cannot be more than 50 characters long.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Priority</label>
            <select [(ngModel)]="todo.priority"
                    #priority="ngModel"
                    name="priority"
                    id="priority"
                    class="form-control"
                    required>
                <option *ngFor="let x of priorities"
                        [ngValue]="x"
                        [selected]="priority.value===x">
                    {{x}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" [disabled]="!todoForm.form.valid">Add todo</button>
    </form>
    {{ todoForm.value | json}}
</div>
